.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#standard-search-adresse-input {
  width: 100%;
  color: #ffffff;
}

#standard-search-adresse-input::before {
  border-bottom: 1px solid rgba(223, 212, 212, 0.88) !important;
}


#standard-search-adresse-input::after {

}

